/* START: Login Page */

body.sigo_login {
  display: flex;
}

body.sigo_login .container {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

body.sigo_login .jumbotron{
  
}

body.sigo_login img{
  width: 300px;
  margin-bottom: 50px;
}

body.sigo_login input{
  margin-bottom: 30px;
}

body.sigo_login div#buttons{
  display: flex;
  align-self: center;
  justify-content: space-around;
}

body.sigo_login .btn{
  background-color: #FF9800;
  border: 0px;
}

/* END: Login Page */
