.modal.fade(role="dialog", id="modalPeca")
  .modal-dialog
    .modal-content
      .modal-header
        h1 Adicionar Peça
      .modal-body
        form(nome="peca", action="/peca", method="post")
          input.form-control(type="text", placeholder="Nome da Peça*", name="name", required)
          input.form-control(type="text", placeholder="Descrição da Peça*", name="description", required)
          input.form-control(type="number", placeholder="Valor da Peça*", name="value", required)
          input.form-control(type="number", placeholder="Quantidade disponível*", name="quantity", required)
          .btn-group
            input.btn.btn-primary(type="submit", value="Adicionar Peça")
            a.btn.btn-primary(data-dismiss="modal") Cancelar