div.sigo_menu_lateral
  a(href="../")
    img(src='../assets/image/logo_sigo_branco.png')
  ul
    li 
      a(href="consultar")
        span(class="glyphicon glyphicon-calendar", aria-hidden='true') 
        p Agendamentos
    li
      a(href="../../os/consultar")
        span(class="glyphicon glyphicon-list-alt", aria-hidden='true') 
        p Ordens de Serviço
    li 
      a(href="serv_pecas")
        span(class="glyphicon glyphicon-wrench", aria-hidden='true') 
        p Seviços & Peças 
    li 
      a(href="#")
        span(class="glyphicon glyphicon-user", aria-hidden='true') 
        p Usuários