div.sigo_menu_lateral
  a(href="../")
    img(src='../assets/image/logo_sigo_branco.png')
  ul
    li 
      a(href="../../agendamento/consultar")
        span(class="glyphicon glyphicon-calendar", aria-hidden='true') 
        p Agendamentos
    if locals.user.nivel_acesso == 0 || locals.user.nivel_acesso == 2
      li
        a(href="../../os/consultar")
          span(class="glyphicon glyphicon-list-alt", aria-hidden='true') 
          p Ordens de Serviço
    if locals.user.nivel_acesso == 0 || locals.user.nivel_acesso == 2 
      li 
        a(href="../../serv_pecas")
          span(class="glyphicon glyphicon-wrench", aria-hidden='true') 
          p Seviços & Peças 
    if locals.user.nivel_acesso == 0 || locals.user.nivel_acesso == 2
      li
        a(href="../../equipes")
          span.glyphicon.glyphicon-cog(aria-hidden='true')
          p Equipes de mecânicos
    if locals.user.nivel_acesso == 0 || locals.user.nivel_acesso == 2
      li
        a(href="../../mecanicos")
          span.glyphicon.glyphicon-cog(aria-hidden='true')
          p Mecânicos
    if locals.user.nivel_acesso == 0
      li 
        a(href="../../relatorio")
          span(class="glyphicon glyphicon-briefcase", aria-hidden='true') 
          p Relatórios 
    li 
      a(href="../../logout")
        span(class="glyphicon glyphicon-log-out", aria-hidden='true') 
        p Log-out 
    