html
  head
    title SiGO | Agendamento
    include ../partials/head.jade
    link(href='css/supercal.css', rel='stylesheet')
  body.sigo_agendamento
    include ../partials/menu_lateral.jade

    script(src='js/jquery_supercal.js')

    div.container

      div.jumbotron
  
        form

          h2 Selecione ou cadastre um cliente 

          div(class="btn-group", role="group", aria-label="...")  

            select.form-control(id="nome_cliente")
              each Cliente in clientes
                option #{Cliente.nome}
            
            div(class="btn-group", role="group")
              button(type="button", class="btn btn-default", id="button_cadastar_cliente") ou cadastrar cliente          
          div.select_date
            hr.fancy-line
            br/
            h2 Escolha a data do agendamento 
            div.calendario
            script.
              $('.calendario').supercal();

          div.select_hour
            hr.fancy-line
            br/
            h2 Escolha a hora
            ul.hour_list
              li.hour
                a(data-hour-id="1", data-selected="", class="") 08:00 - 09:00 
              li.hour
                a(data-hour-id="2", data-selected="", class="") 09:00 - 10:00 
              li.hour
                a(data-hour-id="3", data-selected="", class="") 10:00 - 11:00
              li.hour
                a(data-hour-id="4", data-selected="", class="") 11:00 - 12:00 
              li.hour
                a(data-hour-id="5", data-selected="", class="") 12:00 - 13:00 
              li.hour
                a(data-hour-id="6", data-selected="", class="") 13:00 - 14:00 
              li.hour
                a(data-hour-id="7", data-selected="", class="") 14:00 - 15:00 
              li.hour
                a(data-hour-id="8", data-selected="", class="") 15:00 - 16:00 
              li.hour
                a(data-hour-id="9", data-selected="", class="") 16:00 - 17:00 
              li.hour
                a(data-hour-id="10", data-selected="", class="") 17:00 - 18:00 
            br/
          

          div.submit_area
            hr.fancy-line
            br/
            br/
            a.btn.btn-primary(id="button_confirmacao", href="#") Confirmar Agendamento



          script(src='js/agendamento.js')

