html
  head
    title SiGO | Agendamento
    include ../partials/head.jade
    link(href='css/supercal.css', rel='stylesheet')
  body.sigo_agendamento
    include ../partials/menu_lateral.jade

    script(src='js/jquery_supercal.js')

    div.container

      div.jumbotron
  
        form

          h2 Selecione ou cadastre um cliente 

          div(class="btn-group", role="group", aria-label="...")  

            select.form-control(id="cliente_nome")
              option Selecione um cliente
              each Cliente in clientes
                option(data-nomeusuario="#{Cliente.nome_usuario}") #{Cliente.nome}

            select.form-control(id="cliente_veiculo")
              option selecione um veículo
            
            div(class="btn-group", role="group")
              a.btn.btn-primary(href="/cadastro") cadastrar cliente     
          div.select_date
            hr.fancy-line
            br/
            h2 Escolha a data e hora do agendamento 
            div.calendario
            script.
              $('.calendario').supercal();

          div.select_hour
            ul.hour_list
              li.hour
                a(data-hour-id="1", data-selected="", data-disabled="", class="horario") 08:00 - 09:00 
              li.hour
                a(data-hour-id="2", data-selected="", data-disabled="", class="horario") 09:00 - 10:00 
              li.hour
                a(data-hour-id="3", data-selected="", data-disabled="", class="horario") 10:00 - 11:00
              li.hour
                a(data-hour-id="4", data-selected="", data-disabled="", class="horario") 11:00 - 12:00 
              li.hour
                a(data-hour-id="5", data-selected="", data-disabled="", class="horario") 12:00 - 13:00 
              li.hour
                a(data-hour-id="6", data-selected="", data-disabled="", class="horario") 13:00 - 14:00 
              li.hour
                a(data-hour-id="7", data-selected="", data-disabled="", class="horario") 14:00 - 15:00 
              li.hour
                a(data-hour-id="8", data-selected="", data-disabled="", class="horario") 15:00 - 16:00 
              li.hour
                a(data-hour-id="9", data-selected="", data-disabled="", class="horario") 16:00 - 17:00 
              li.hour
                a(data-hour-id="10", data-selected="", data-disabled="", class="horario") 17:00 - 18:00 
            br/
          

          div.submit_area
            hr.fancy-line
            br/
            br/
            a.btn.btn-primary(id="button_confirmacao", href="#") Confirmar Agendamento



          script(src='js/agendamento.js')

