html
  head
    title SiGO | Login
    include ../partials/head.jade
  body.sigo_registro
    div.container
      div.jumbotron
        img.center-block(src='assets/image/logo_sigo.png')
        form(name="cadastro", action="/cadastro", method="post")
          h2.text-center Dados para autenticação
          input.form-control(type="email", placeholder="Digite seu e-mail*", name="email", required)
          input.form-control(type="text", placeholder="Escolha um usuário*", name="username", id="user", required)
          input.form-control(type="password", placeholder="Escolha uma senha*", name="password", id="pass", required)
          input.form-control(type="password", placeholder="Confirme a senha*", name="password_confirm", id="pass_confirm", required)
          span.right-block(id="message")
          h2.text-center Cadastro
          input.form-control(type="text", placeholder="Nome Completo*", name="name", required)
          input.form-control(type="text", placeholder="Endereço", name="address")
          input.form-control(type="text", placeholder="Complemento", name="comp")
          input.form-control(type="number", placeholder="Telefone (Ex: 11 50509999)", name="phone")
          input.form-control(type="text", placeholder="Cidade", name="city")
          input.form-control(type="text", placeholder="UF (Exemplo: SP)", name="state")
          input.form-control(type="number", placeholder="Telefone Celular (Ex: 11 960608888)", name="cellphone")
          input.btn.btn-primary.right-block(type="submit", value="Finalizar cadastro", id="confirmar_cadastro")
script(src='js/cadastro.js')