html
  head
    title SiGO | Login
    include ../partials/head.jade
  body.sigo_login
    div.container
      div.jumbotron
        img(src='assets/image/logo_sigo.png')
        form(name="login", action="/login", method="post")
          input.form-control(type="text", placeholder="Usuário ou e-mail", name="username")
          input.form-control(type="password", placeholder="Senha", name="password")
          a(href='#')
            p (Esqueci minha senha)
          div#buttons
            input.btn.btn-primary(type="submit", value="Entrar")
            a.btn.btn-primary(href="#") Registrar-se