html
  head
    title SiGO | Mecanicos
    include ../partials/head.jade
  body.sigo_mecanicos
    include ../partials/menu_lateral.jade
    
    .container
      .jumbotron
        img(src='assets/image/logo_sigo.png')
        a.btn.btn-primary(href="#") Formar equipe 