html
  head
    title SiGO | Login
    include ../partials/head.jade
  body.sigo_registro
    div.container
      div.jumbotron
        img.center-block(src='assets/image/logo_sigo.png')
        h2.text-center Registro de Usuário
        form(name="verify", action="/registro", method="post")
          input.form-control(type="email", placeholder="Digite seu e-mail", name="email")
          input.form-control(type="text", placeholder="Escolha um usuário", name="username")
          input.form-control(type="password", placeholder="Escolha uma senha", name="password")
          input.form-control(type="password", placeholder="Confirme a senha", name="password_confirm")
          a.btn.btn-primary.right-block Verificar Usuário
        h2.text-center Cadastro de usuário
        form(name="register", action="/registro", method="post")
          input.form-control(type="text", placeholder="Nome Completo", name="name")
          input.form-control(type="text", placeholder="Endereço", name="address")
          input.form-control(type="text", placeholder="Complemento", name="comp")
          input.form-control(type="number", placeholder="Telefone", name="phone")
          input.form-control(type="text", placeholder="Cidade", name="city")
          input.form-control(type="text", placeholder="UF (Exemplo: SP)", name="state")
          input.form-control(type="number", placeholder="Telefone Celular", name="cellphone")
          a.btn.btn-primary.right-block Finalizar cadastro