html
  head
    title SiGO | Agendamento
    include ../partials/head.jade
  body.sigo_serv_pecas
    include ../partials/menu_lateral.jade

    div.container
      div.jumbotron
        h2 Serviços oferecidos
        div.list-group
          each servico in params.servicos
            .list-group-item(href='#')
              a(href='#')
                h4.list-group-item-heading.up-first-letter #{servico.nome}
              p.list-group-item-text.up-first-letter  #{servico.descricao}
        a.btn.btn-primary(href="serv_pecas") Adicionar Serviço
        hr.fancy-line
        h2 Peças disponíveis
        div.list-group
          each peca in params.pecas
            .list-group-item(href='#')
              h4.list-group-item-heading.up-first-letter #{peca.nome}
              p.list-group-item-text.up-first-letter Quantidade: #{peca.quantidade}
        a.btn.btn-primary(href="serv_pecas") Adicionar Peça
    script(src='../js/serv_pecas.js')