html
  head
    title SiGO | Agendamento
    include ../partials/head.jade
  body.sigo_agendamento
    include ../partials/menu_lateral.jade
    div.container
      div.jumbotron
        h2 
          span(class="glyphicon glyphicon-ban-circle", aria-hidden='true')
        br/
        h2 Vamos começar criando um agendamento
        a.btn.btn-primary(href="#") 
          p
            span(class="glyphicon glyphicon-plus", aria-hidden='true')
        