- var page = { title: 'Login' }

include ../partials/header.jade
div.container
  div.jumbotron
    img(src='assets/image/logo_sigo.png')
    form
      input.form-control(type="text", placeholder="Usuário ou e-mail")
      input.form-control(type="password", placeholder="Senha")
    div#buttons
      a.btn.btn-primary(href="/login") Entrar
      a.btn.btn-primary(href="/login") Registrar-se