- var sigo_page = { title: 'Home' }

include ../partials/head.jade
div.container
  div.jumbotron
    img(src='assets/image/logo_sigo.png')
    form
      input.form-control(type="text", placeholder="Usuário ou e-mail")
      input.form-control(type="password", placeholder="Senha")
    a(href='#') 
      p (Esqueci minha senha)
    div#buttons
      a.btn.btn-primary(href="#") Entrar
      a.btn.btn-primary(href="#") Registrar-se