/* START: Global */

.form-control {
  margin-bottom: 10px;
}

.jumbotron {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.list-group-item {
  background-color: inherit;
  border: none;
}

.list-group-item 
h4 {
  text-align: left;
}

.list-group-item
p {
  font-size: 14px;
  text-align: left;
  margin-bottom: 5px;
}

.btn-primary {
  background-color: #FF9800;
  border: 0px;
  height: 34px;
  width: 100%;
  margin-bottom: 10px;
}

.btn-primary:hover {
  background-color: #FF9800;
}

hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
    margin-top: 20px;
}

hr.fancy-line:before {
    top: -0.5em;
    height: 1em;
}

hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    top: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.2)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 75%);
}

.up-first-letter:first-letter {
  text-transform: uppercase;
}

/* END: Global */

/* START: Menu Lateral */

div.sigo_menu_lateral{
  background-color: #2196F3;
  width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

div.sigo_menu_lateral a{
  color: #fff;
}

div.sigo_menu_lateral a:hover{
  text-decoration: none;
}

div.sigo_menu_lateral img{
  width: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
}

div.sigo_menu_lateral ul{
  list-style: none;
  padding: 0px;
}

div.sigo_menu_lateral li{
  text-align: center;
  padding: 10px;  
  margin-bottom: 40px;
  cursor: pointer;
  border-radius: 2px;
}

div.sigo_menu_lateral li:hover{
  background-color: #4ba9f2;
}

div.sigo_menu_lateral span{
  font-size: 50px;
  margin-bottom: 10px;
}
/* END: Menu lateral */


/* START: Pagina de login */

body.sigo_login {
  display: flex;
}

body.sigo_login .container {
  display: flex;
  align-self: center;
  justify-content: space-between;
}

body.jumbotron{
  box-shadow: 10px 10px 5px rgba(0,0,0,0.5);
}

body.sigo_login form{
  margin-bottom: 10px;
}

body.sigo_login img{
  width: 300px;
  margin-bottom: 40px;
}

body.sigo_login input:first-child{
  margin-bottom: 10px;
}

body.sigo_login a p{
  text-align: right;
  font-size: 14px;
  margin-top: -10px;
}

/* END: Pagina de Login */


/* START: Pagina de Agendamento */

body.sigo_agendamento h2{
  margin-bottom: 40px;
}

body.sigo_agendamento {
  display: flex;
}

body.sigo_agendamento .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}

body.sigo_agendamento #cliente_nome{
  width: 30%;
  
}

body.sigo_agendamento #cliente_veiculo{
  width: 30%;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}


body.sigo_agendamento div.btn-group{
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}

body.sigo_agendamento select.form-control{
  height:34px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border:0px;
}

body.sigo_agendamento button#button_cadastar_cliente{
  background-color: #FF9800;
  color: #ffffff;
  border: 0px;
  height:34px;
}

body.sigo_agendamento h2{
  color: #999;
  text-shadow: 2px 2px #fff;
}

body.sigo_agendamento h2 span{
  font-size: 50px;
  line-height: 50px;
  line-height: 50px;
}

body.sigo_agendamento div.calendario{
  width: 50%;
  margin: 50px auto;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
}

body.sigo_agendamento div.select_hour li.hour{
 margin: 20px 40px;
}

body.sigo_agendamento div.select_hour ul{
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: space-between;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 0px;
}

body.sigo_agendamento div.select_hour ul a{
  padding: 10px;
  background-color: #2196F3;
  color: #ffffff;
  cursor: pointer;
}

body.sigo_agendamento div.select_hour ul a[data-disabled=true]{
  padding: 10px;
  background-color: #BBDEFB;
  color: #ffffff;
  cursor: default;
}

body.sigo_agendamento div.select_hour ul a[data-disabled=true]:hover{
  padding: 10px;
  background-color: #BBDEFB;
  color: #ffffff;
}

body.sigo_agendamento div.select_hour ul a:hover{
  background-color: #FF9800;
  color: #ffffff;
  text-decoration: none;
  
}

body.sigo_agendamento div.select_hour ul a[data-selected=true]{
  background-color: #FF9800;
  color: #ffffff;
  text-decoration: none;
  
}

body.sigo_agendamento div.submit_area .btn{
  background-color: #FF9800;
  border: 0px;
}

body.sigo_agendamento .card{
  background-color: #ffffff;
  margin: 50px;
  padding: 20px;
  height:200px;
  border-radius: 2px;
  box-shadow: 0px 2px 0px rgba(0,0,0,0.2);
  text-align: left;
  -webkit-box-sizing: border-box; /* Safari 3.0 - 5.0, Chrome 1 - 9, Android 2.1 - 3.x */
  -moz-box-sizing: border-box;    /* Firefox 1 - 28 */
  box-sizing: border-box;  
}

body.sigo_agendamento .card.criar-agendamento{
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: #2196F3;
/* START: Registro */

body.sigo_registro img {
  width: 280px;
}

body.sigo_registro h2 {
  color: #999;
  text-shadow: 2px 2px #fff;
}

body.sigo_registro .btn {
  width: 250px;
}

body.sigo_registro .right-block {
  display: block;
  margin-left: auto;
}

/* END: Registro */
}

body.sigo_agendamento a:hover{
  text-decoration: none;
}

body.sigo_agendamento a:hover .card.criar-agendamento:hover{
  color: #FF9800;;
}

body.sigo_agendamento .card-header{
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  color: #ffffff;
  text-align: right
}

body.sigo_agendamento .card-header span{
  margin-left: 20px;
  color: #2196F3;
}

body.sigo_agendamento .card-header span:hover{
  color: #FF9800;;
}

/* START: Cadastro */

body.sigo_cadastro img {
  width: 280px;
}

body.sigo_cadastro h2 {
  color: #999;
  text-shadow: 2px 2px #fff;
}

body.sigo_cadastro .btn {
  width: 250px;
}

body.sigo_cadastro .right-block {
  display: block;
  margin-left: auto;
}

body.sigo_cadastro .alert {
  margin-top: 10px;
}

/* END: Cadastro */

/* START: Serviços e peças */

body.sigo_serv_pecas {
  display: flex;
}

body.sigo_serv_pecas .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}

body.sigo_serv_pecas .btn-primary{
  display: block;
  margin-right: auto;
  margin-left: 15px;
  width: 250px;
}

body.sigo_serv_pecas h2 {
  color: #999;
  text-shadow: 2px 2px #fff;
}

body.sigo_serv_pecas h4 {
  color: #2196F3;
}

body.sigo_serv_pecas .btn-group > .btn {
  margin-right: 20px;
}

body.sigo_serv_pecas .glyphicon {
  margin-right: 10px;
  margin-left: 10px;
}

/* END: Serviços e peças */


/* START: OS */

body.sigo_os {
  display: flex;
}

body.sigo_os .container {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}

body.sigo_os h2 {
  color: #999;
  text-shadow: 2px 2px #fff;
  font-size: 16px;
}

body.sigo_os div#status-message h2{
  text-shadow: 0px 0px #fff;
  font-size: 16px; 
}

body.sigo_os h4 {
  color: #2196F3;
  font-size: 16px;
}

body.sigo_os h4:hover {
  color: #4ba9f2;
}

body.sigo_os .btn-group > .btn {
  margin-right: 20px;
}

body.sigo_os .modal-content{
  text-align: left;
}

body.sigo_os .modal-content label{
  font-size: 16px;
  color: #666666;
}

body.sigo_os .modal-content select{
  width: 100%;
  margin-bottom: 10px;
}

body.sigo_os .modal-content select.data-conclusao{
  width: 33%;
}

body.sigo_os .modal-content a.botao-adicionar-peca{
  font-size: 12px;
}

body.sigo_os .modal-content a.botao-remover-servico{
  font-size: 12px;
}

body.sigo_os .modal-content p{
  font-size: 16px;
  text-align: center;
  font-weight: normal;
}

body.sigo_os div.modal-footer button{
  float: right;
}

/* START: Equipes de Mecânicos */

body.sigo_mecanicos {
  display: flex;
}

body.sigo_mecanicos h2 {
  color: #999;
  text-shadow: 2px 2px #fff;
}

body.sigo_mecanicos .btn-primary{

  display: block;
  margin-right: auto;
  margin-left: 15px;
  width: 250px;
}

body.sigo_mecanicos .container {

  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: space-between;
  text-align: center;
}
body.sigo_mecanicos .margin-bot {
  margin-bottom: 30px;
}

body.sigo_mecanicos .btn-group {

}

body.sigo_mecanicos .btn-group > .btn {
  margin-right: 20px;
}

/* END: Equipes de Mecânicos */

